* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: GillSansregular;
  src: url(../css/fonts/GillSans.ttf);
}
@font-face {
  font-family: ProximaNova;
  src: url(../css/fonts/Proxima_Nova_Reg.ttf);
}
@font-face {
  font-family: GillSansItalic;
  src: url(../css/fonts/GillSans-Italic.ttf);
}
@font-face {
  font-family: ProximaNovaExtraCondensed;
  src: url(../css/fonts/ProximaNovaExtraCondensed.ttf);
}
nav {
  width: 980px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
nav .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .links .nav-logo {
  background-image: url(../images/logo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 9.5%;
  height: 42px;
  margin-bottom: 2%;
  margin-top: 3%;
}
nav .links .links-nav {
  min-width: 30.5%;
  height: 42px;
  margin-bottom: 2%;
  margin-top: 5%;
}
nav .links .links-nav .nav-name {
  padding-left: 19px;
}
nav .links .links-nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-family: GillSansregular;
}
nav .line {
  border: none;
  height: 2px;
  width: 980px;
  background-color: #ffffff;
  margin: auto;
}

@media all and (max-width: 920px) {
  nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  nav .links {
    display: flex;
    justify-content: flex-start;
    margin-left: -9%;
  }
  nav .links .nav-logo {
    margin-right: 19%;
    margin-left: 19%;
  }
}
@media all and (max-width: 770px) {
  nav {
    width: 95%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  nav .links {
    display: flex;
    justify-content: flex-start;
    margin-left: -15.5%;
  }
  nav .links .nav-logo {
    margin-right: 25%;
    margin-left: 0%;
  }
}
nav-black {
  width: 980px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
nav-black .links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav-black .links .nav-logo {
  background-image: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 7%;
  height: 42px;
  margin-bottom: 2%;
  margin-top: 3%;
}
nav-black .links .links-nav {
  min-width: 30.5%;
  height: 42px;
  margin-bottom: 2%;
  margin-top: 5%;
}
nav-black .links .links-nav .nav-name {
  padding-left: 19px;
}
nav-black .links .links-nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: GillSansregular;
}
nav-black .line {
  border: none;
  height: 2px;
  width: 980px;
  background-color: black;
  margin: auto;
}

@media all and (max-width: 920px) {
  nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  nav .links {
    display: flex;
    justify-content: flex-start;
    margin-left: -9%;
  }
  nav .links .nav-logo {
    margin-right: 19%;
    margin-left: 19%;
  }
}
@media all and (max-width: 770px) {
  nav {
    width: 95%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  nav .links {
    display: flex;
    justify-content: flex-start;
    margin-left: -15.5%;
  }
  nav .links .nav-logo {
    margin-right: 25%;
    margin-left: 0%;
  }
}
.home .wrapper {
  max-width: 100%;
  margin: 0 auto;
}
.home .wrapper .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.home .wrapper .hero-textbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 170px;
}
.home .wrapper .hero-textbox .heading {
  font-size: 60px;
  color: #ffffff;
  font-family: ProximaNova;
}
.home .wrapper .hero-textbox .hero-text {
  width: 35%;
  height: 46px;
  font-size: 20px;
  font-family: GillSansItalic;
  color: #ffffff;
  text-align: center;
}
.home .wrapper .hero-textbox .hero-button {
  margin: 1.5%;
  width: 10%;
  height: 41px;
  background-color: #79ADDC;
  text-align: center;
  padding-top: 10px;
  color: #ffffff;
}
.home .wrapper .specials {
  width: 818px;
  margin: -2% auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .wrapper .specials .box1 {
  height: 304px;
  width: 29%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/content1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home .wrapper .specials .box1 .box1-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 18%;
}
.home .wrapper .specials .box1 .box1-text .location {
  font-size: 40px;
  font-family: ProximaNova;
  color: #ffffff;
}
.home .wrapper .specials .box1 .box1-text .price {
  font-size: 20px;
  font-family: ProximaNova;
  color: #ffffff;
  padding-bottom: 35%;
}
.home .wrapper .specials .box1 .box1-text .learn-more {
  width: 60%;
  height: 40px;
  background-color: #79ADDC;
  border-radius: 20px;
  text-align: center;
  padding-top: 4.5%;
}
.home .wrapper .specials .box1 .box1-text .learn-more a {
  text-decoration: none;
  color: #ffffff;
}
.home .wrapper .specials .box2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/content2.jpg);
  width: 29%;
  height: 304px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home .wrapper .specials .box2 .box1-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 18%;
}
.home .wrapper .specials .box2 .box1-text .location {
  font-size: 40px;
  font-family: ProximaNova;
  color: #ffffff;
}
.home .wrapper .specials .box2 .box1-text .price {
  font-size: 20px;
  font-family: ProximaNova;
  color: #ffffff;
  padding-bottom: 35%;
}
.home .wrapper .specials .box2 .box1-text .learn-more {
  width: 60%;
  height: 40px;
  background-color: #79ADDC;
  border-radius: 20px;
  text-align: center;
  padding-top: 4.5%;
}
.home .wrapper .specials .box2 .box1-text .learn-more a {
  text-decoration: none;
  color: #ffffff;
}
.home .wrapper .specials .box3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/content3.jpg);
  width: 29%;
  height: 304px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home .wrapper .specials .box3 .box1-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 18%;
}
.home .wrapper .specials .box3 .box1-text .location {
  font-size: 40px;
  font-family: ProximaNova;
  color: #ffffff;
}
.home .wrapper .specials .box3 .box1-text .price {
  font-size: 20px;
  font-family: ProximaNova;
  color: #ffffff;
  padding-bottom: 35%;
}
.home .wrapper .specials .box3 .box1-text .learn-more {
  width: 60%;
  height: 40px;
  background-color: #79ADDC;
  border-radius: 20px;
  text-align: center;
  padding-top: 4.5%;
}
.home .wrapper .specials .box3 .box1-text .learn-more a {
  text-decoration: none;
  color: #ffffff;
}
.home .wrapper .form {
  width: 818px;
  margin: 0 auto;
  min-height: 24.5%;
}
.home .wrapper .form h2 {
  padding-top: 5%;
  font-size: 40px;
  font-family: ProximaNova;
}
.home .wrapper .form .form-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 818px;
}
.home .wrapper .form .form-info .name {
  height: 58px;
  width: 42%;
  border: 2px solid;
  border-color: #79ADDC;
  font-family: GillSansregular;
  font-size: 18px;
  margin-bottom: 2%;
  padding-left: 1%;
}
.home .wrapper .form .form-info .email {
  height: 58px;
  width: 55.5%;
  border: 2px solid;
  border-color: #79ADDC;
  font-family: GillSansregular;
  font-size: 18px;
  margin-bottom: 2%;
  padding-left: 1%;
}
.home .wrapper .form .form-info .country {
  height: 58px;
  width: 42%;
  border: 2px solid;
  border-color: #79ADDC;
  font-family: GillSansregular;
  font-size: 18px;
  margin-bottom: 2%;
  padding-left: 1%;
}
.home .wrapper .form .form-info .hotel {
  height: 58px;
  width: 55.5%;
  border: 2px solid;
  border-color: #79ADDC;
  font-family: GillSansregular;
  font-size: 18px;
  margin-bottom: 2%;
  padding-left: 1%;
}
.home .wrapper .form .checkin-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .wrapper .form .checkin-box .checkin {
  height: 58px;
  width: 85%;
  border: 2px solid;
  border-color: #79ADDC;
  font-family: GillSansregular;
  font-size: 18px;
  margin-bottom: 2%;
  position: relative;
  padding-left: 1%;
}
.home .wrapper .form .checkin-box .cal-box {
  background-image: url(../images/calendar.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  position: absolute;
  right: 2.5%;
  bottom: 50%;
}
.home .wrapper .form .checkout-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.home .wrapper .form .checkout-box .checkin2 {
  height: 58px;
  width: 85%;
  border: 2px solid;
  border-color: #79ADDC;
  font-family: GillSansregular;
  font-size: 18px;
  margin-bottom: 2%;
  padding-left: 1%;
}
.home .wrapper .form .checkout-box .cal-box {
  background-image: url(../images/calendar.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  position: absolute;
  right: 2.5%;
  bottom: 50%;
}
.home .wrapper .form .party-size .party-padding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}
.home .wrapper .form .party-size .party-padding .party-input-box {
  position: relative;
}
.home .wrapper .form .party-size .party-padding .party-label {
  margin-right: 82px;
}
.home .wrapper .form .party-size .party-padding .party-input {
  height: 58px;
  width: 103px;
  border: 2px solid;
  border-color: #79ADDC;
  font-family: GillSansregular;
  font-size: 18px;
  padding-left: 10px;
}
.home .wrapper .form .party-size .arrow i {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.home .wrapper .form .message-box .message {
  height: 192px;
  width: 100%;
  border: 2px solid;
  border-color: #79ADDC;
  font-family: GillSansregular;
  font-size: 18px;
  padding-bottom: 15%;
  padding-left: 2.5%;
  margin-bottom: 2.5%;
}
.home .wrapper .form .submit-box {
  margin-bottom: 100px;
}
.home .wrapper .form .submit-box .submit {
  width: 99%;
  height: 75px;
  background-color: #79ADDC;
  border-radius: 30px;
  text-align: center;
  padding-top: 3%;
  font-size: 15px;
  font-family: GillSansregular;
  color: #ffffff;
  text-transform: uppercase;
}

@media all and (max-width: 920px) {
  .home .wrapper .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    width: 85%;
    height: 44%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  .home .wrapper .specials {
    flex-direction: row;
    width: 818px;
    display: flex;
  }
  .home .wrapper .specials .box1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/content1.jpg);
    margin-bottom: 30px;
    width: 26%;
    height: 33%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .home .wrapper .specials .box2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/content2.jpg);
    width: 26%;
    height: 33%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }
  .home .wrapper .specials .box3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/content3.jpg);
    width: 26%;
    height: 33%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3%;
  }
  .home .wrapper .form {
    width: 83%;
    margin: 0 auto;
    min-height: 22%;
    align-items: center;
    justify-content: center;
  }
  .home .wrapper .form h2 {
    padding-top: 40px;
    font-size: 40px;
    font-family: ProximaNova;
  }
  .home .wrapper .form .form-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65%;
  }
  .home .wrapper .form .form-info .name {
    height: 6%;
    width: 37%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    margin-bottom: 2%;
    padding-left: 1%;
  }
  .home .wrapper .form .form-info .email {
    height: 6%;
    width: 49%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    margin-bottom: 2%;
    padding-left: 1%;
  }
  .home .wrapper .form .form-info .country {
    height: 6%;
    width: 37%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    margin-bottom: 2%;
    padding-left: 1%;
  }
  .home .wrapper .form .form-info .hotel {
    height: 6%;
    width: 49% px;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    margin-bottom: 2%;
    padding-left: 1%;
  }
  .home .wrapper .form .checkin-box {
    position: relative;
    display: block;
  }
  .home .wrapper .form .checkin-box .checkin {
    height: 6%;
    width: 54%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    margin-bottom: 2%;
    position: relative;
    padding-left: 1%;
  }
  .home .wrapper .form .checkin-box .cal-box {
    background-image: url(../images/calendar.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    position: absolute;
    right: 25%;
    bottom: 4%;
    display: none;
  }
  .home .wrapper .form .checkout-box {
    display: block;
    position: relative;
  }
  .home .wrapper .form .checkout-box .checkin2 {
    height: 6%;
    width: 54%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    margin-bottom: 2%;
    padding-left: 1%;
  }
  .home .wrapper .form .checkout-box .cal-box {
    background-image: url(../images/calendar.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    position: absolute;
    right: 25%;
    bottom: 4%;
    display: none;
  }
  .home .wrapper .form .party-size .party-padding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    width: 22%;
    flex-wrap: wrap;
  }
  .home .wrapper .form .party-size .party-padding .party-input-box {
    position: relative;
    margin-bottom: 2%;
  }
  .home .wrapper .form .party-size .party-padding .party-label {
    margin-right: 82px;
  }
  .home .wrapper .form .party-size .party-padding .party-input {
    height: 6%;
    width: 11%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    padding-left: 1%;
  }
  .home .wrapper .form .party-size .arrow i {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    position: absolute;
    left: 6.5%;
    bottom: 2%;
    display: none;
  }
  .home .wrapper .form .message-box .message {
    height: 21%;
    width: 65%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    padding-bottom: 12%;
    padding-left: 2%;
    margin-bottom: 2%;
  }
  .home .wrapper .form .submit-box {
    margin-bottom: 100px;
  }
  .home .wrapper .form .submit-box .submit {
    width: 11%;
    height: 8%;
    background-color: #79ADDC;
    border-radius: 30px;
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
    font-family: GillSansregular;
    color: #ffffff;
    text-transform: uppercase;
  }
}
@media all and (max-width: 770px) {
  .home .wrapper .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    width: 99%;
    height: 52%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  .home .wrapper .specials {
    flex-direction: column;
    width: 818px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .home .wrapper .specials .box1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/content1.jpg);
    margin-bottom: 3%;
    width: 30.5%;
    height: 39.5%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .home .wrapper .specials .box2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/content2.jpg);
    width: 30.5%;
    height: 39.5%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3%;
  }
  .home .wrapper .specials .box3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/content3.jpg);
    width: 30.5%;
    height: 39.5%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3%;
  }
  .home .wrapper .form {
    width: 99%;
    margin: 0 auto;
    min-height: 26%;
    align-items: center;
    justify-content: center;
  }
  .home .wrapper .form h2 {
    padding-top: 4%;
    font-size: 40px;
    font-family: ProximaNova;
  }
  .home .wrapper .form .form-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 78%;
  }
  .home .wrapper .form .form-info .name {
    height: 7.5%;
    width: 44.5%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    margin-bottom: 2%;
    padding-left: 1%;
  }
  .home .wrapper .form .form-info .email {
    height: 7.5%;
    width: 59%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    margin-bottom: 2%;
    padding-left: 1%;
  }
  .home .wrapper .form .form-info .country {
    height: 7.5%;
    width: 44.5%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    margin-bottom: 2%;
    padding-left: 1%;
  }
  .home .wrapper .form .form-info .hotel {
    height: 7.5%;
    width: 59%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    margin-bottom: 2%;
    padding-left: 1%;
  }
  .home .wrapper .form .checkin-box {
    position: relative;
    display: block;
  }
  .home .wrapper .form .checkin-box .checkin {
    height: 7.5%;
    width: 65%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    margin-bottom: 2%;
    position: relative;
    padding-left: 1%;
  }
  .home .wrapper .form .checkin-box .cal-box {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 2.5%;
    height: 2.5%;
    position: absolute;
    right: 30%;
    bottom: 5%;
    display: none;
  }
  .home .wrapper .form .checkout-box {
    display: block;
    position: relative;
  }
  .home .wrapper .form .checkout-box .checkin2 {
    height: 7.5%;
    width: 65%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    margin-bottom: 2%;
    padding-left: 1%;
  }
  .home .wrapper .form .checkout-box .cal-box {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 2.5;
    height: 2.5;
    position: absolute;
    right: 30%;
    bottom: 5%;
    display: none;
  }
  .home .wrapper .form .party-size .party-padding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 26%;
    flex-wrap: wrap;
  }
  .home .wrapper .form .party-size .party-padding .party-input-box {
    position: relative;
    margin-bottom: 2%;
  }
  .home .wrapper .form .party-size .party-padding .party-label {
    margin-right: 82px;
  }
  .home .wrapper .form .party-size .party-padding .party-input {
    height: 7.5%;
    width: 13%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    padding-left: 1%;
  }
  .home .wrapper .form .party-size .arrow i {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 2.5%;
    height: 2.5%;
    position: absolute;
    left: 8%;
    bottom: 2%;
  }
  .home .wrapper .form .message-box .message {
    height: 25%;
    width: 65%;
    border: 2px solid;
    border-color: #79ADDC;
    font-family: GillSansregular;
    font-size: 18px;
    padding-bottom: 14%;
    padding-left: 2%;
    margin-bottom: 2%;
  }
  .home .wrapper .form .submit-box {
    margin-bottom: 100px;
  }
  .home .wrapper .form .submit-box .submit {
    width: 78%;
    height: 9.5%;
    background-color: #79ADDC;
    border-radius: 3%;
    text-align: center;
    padding-top: 3%;
    font-size: 15px;
    font-family: GillSansregular;
    color: #ffffff;
    text-transform: uppercase;
  }
}
.about {
  max-width: 980px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.about .wrapper .line {
  border: none;
  height: 3px;
  width: 23%;
  background-color: black;
  position: absolute;
  left: 17.5%;
}
.about .wrapper h2 {
  font-size: 3em;
  font-family: GillSansregular;
}
.about .wrapper .about-content {
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}
.about .wrapper .about-content .line {
  border: none;
  height: 3px;
  width: 15%;
  background-color: black;
  margin: auto;
}
.about .wrapper .about-content p {
  font-size: 1.3em;
  font-family: GillSansregular;
}
.about .wrapper .about-content h1 {
  font-size: 4em;
  font-family: GillSansregular;
}
.about .wrapper .about-quotes1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: -100px;
  margin-bottom: -190px;
}
.about .wrapper .about-quotes1 .left-box {
  background-image: url(../images/about-client-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 200px;
  margin-bottom: 2%;
  margin-top: 3%;
}
.about .wrapper .about-quotes1 .quote-text {
  width: 35%;
  height: 400px;
  font-size: 1em;
  font-family: GillSansregular;
  margin-top: 80px;
}
.about .wrapper .about-quotes1 .quote-text p.name {
  color: #79ADDC;
  margin-left: 65%;
  font-size: 1.2em;
}
.about .wrapper .about-quotes2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: -100px;
}
.about .wrapper .about-quotes2 .left-box2 {
  background-image: url(../images/about-client-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 200px;
  margin-bottom: 2%;
  margin-top: 3%;
}
.about .wrapper .about-quotes2 .quote-text2 {
  width: 35%;
  height: 400px;
  font-family: GillSansregular;
  margin-top: 80px;
}
.about .wrapper .about-quotes2 .quote-text2 p.name {
  color: #79ADDC;
  margin-left: 65%;
  font-size: 1.2em;
}

footer {
  height: 100px;
  background-color: #79ADDC;
}
footer .footer-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 40px;
}
footer .footer-box .footer-logo {
  background-image: url(../images/logo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 92px;
  height: 42px;
}
footer .footer-box .footer-text {
  width: 222px;
  height: 14px;
  font-family: GillSansregular;
  font-size: 12px;
  color: #ffffff;
}
footer .footer-box .footer-icons .user {
  width: 22px;
  height: 22px;
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
